* {
    text-align: center;
    justify-content: center;
    background-color: palegoldenrod;
    margin: 1px;
    padding: 3px;
}

#theHeader, .theHeaderStuff {
    border-style: solid;
    margin: 0px;
    padding: 30px;
    background-color: coral;
    list-style-type: none;
}

#startPageContainer, #quizPageContainer, #highScoresContainer {
    border-style: solid;
    border-color: darkolivegreen;
    border-width: 3px;
    margin: 40px;
    padding: 30px;
    justify-content: center;
}

